h4{
    font-weight: 400;
}

.footer{
    background-color: transparent;
}

.image-footer img{
    object-fit: cover;
    width:100%;
    height:100%;
}


.TSG-logo{
    padding-right: 70px;
}

.correo {
    margin-top: -20px;
    color: transparent;
    width: 100%;
    height: 20vh;
    background: linear-gradient(90deg, #02143F 0%, rgba(181, 175, 187, 0.82) 41.24%, #353083 100%);
    align-items: center;
    justify-content:space-between;
    display: flex;
    padding: 60px 80px;
    box-shadow: 2px -7px 13px -1px rgba(0,0,0,1.75);
}

.contacto{
    position: relative;
    right: 90px;
    gap: 10px;
}

.iconos1 {
    font-size: 25px;
    color: white;
    display: flex;
    gap: 30px;
    align-items:center ;
}

.iconos2 {
    font-size: 25px;
    color: white;
    display: flex;
    gap: 30px;
    align-items: center;
}

.derechos{
    color: white;
    position: relative;
    top: 80%;
    right: 5%;
}

.derechos h5{
    font-weight: 400;
}

.links{
    font-size: 20px;
    padding-right: 70px;
    display: flex;
    gap: 100px;
}

.footer.links ul{
    list-style: none;
}

.footer.links2 {
    list-style: none;
    position: relative;
    left: 20%;
}

@media (max-width: 1700px){
    .contacto{
        position: relative;
        right: 10px;
        gap: 10px;
    }
    
    .iconos1 {
        font-size: 20px;
        color: white;
        display: flex;
        gap: 30px;
        align-items:center ;
    }
    
    .iconos2 {
        font-size: 20px;
        color: white;
        display: flex;
        gap: 30px;
        align-items: center;
    }
    
    
    .links{
        font-size: 15px;
        padding-right: 70px;
        display: flex;
        gap: 100px;
    }
}

@media (max-width: 1400px){
    .derechos{
        color: white;
        position: relative;
        top: 80%;
        left: 5%;
        margin-left: -300px;
    }
    
}

@media (max-width: 1400px){
    .links{
        font-size: 15px;
        padding-right: 0px;
        display: flex;
        gap: 50px;
    }
    .derechos{
        color: white;
        position: relative;
        top: 80%;
        left: 5%;
        margin-left: -400px;
    }
    .iconos1 {
        font-size: 15px;
        color: white;
        display: flex;
        gap: 30px;
        align-items:center ;
    }
    
    .iconos2 {
        font-size: 15px;
        color: white;
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .contacto{
        position: relative;
        right: 50px;
    }
}




@media (max-width: 1000px){
    .derechos{
        position: relative;
        top: 320%;
        left: 54%;
    }
    .correo {
        display: grid;
        height: 40vh;
    }
    .contacto{
        position: relative;
        right: 0px;
        padding-top: 10px;
    }
    .links{
        font-size: 12px;
        gap: 15px;
        display: grid;
        position: relative;
        right: 0px;
        top: -20%;
    }
}

@media (max-width: 800px){
    .derechos{
        top: 290%;
    }
}

@media (max-width: 550px){
    .derechos {
        margin-right: 349px;
        position: relative;
        top: 104px;
        left: 155px;
    }
}

@media (max-width: 450px){

    .iconos1 {
        font-size: 12px;
        gap: 10px;

    }
    .iconos2 {
        font-size: 12px;
        gap: 10px;
    }
    .correo {
        height: auto;
    }
    .derechos{
       margin-right: 441px; 
    }
}


@media (max-height: 920px){
    .derechos {
        margin-right: -160px;
        margin-left: -160px;
    }
}

@media (max-height: 830px){
    .derechos{
        margin-top: 30px;
    }
}

@media (max-height: 780px){
    .derechos{
        margin-top: 50px;
    }
}

@media (max-height: 690px){
    .derechos{
        margin-top: 70px;
        margin-left: -200px;
    }
}

@media (max-height: 620px){
    .correo{
        height: 70vh;
    }

    .links{
       top: -90px;
    }

    .derechos{
        top: 50px;
    }
}


@media (max-height: 820px){
    .correo{
        height: 70vh;
    }

    .links{
       top: -90px;
    }

    .derechos{
        top: 80px;
    }
}

