h4 {
    font-weight: 400;
}

.footer {
    background-color: transparent;
}

.image-footer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.TSG-logo img {
    padding-top: 80px;
    padding-right: 30px;
}

.correo {
    margin-top: -20px;
    color: transparent;
    background: linear-gradient(90deg,  #353083 0%, rgba(181, 175, 187, 0.82) 41.24%, #02143F 100%);
    display: flex;
}

.contacto {
    position: relative;
    padding-top: 45px;
    color: white;
    font-size: 15px;
}
.iconos1{
    display: flex;
    align-items: center;
}

.iconos2 {
    display: flex;
    align-items: center;
}

.iconos1 img {
    padding-right: 10px;
    padding-top: 20px;
    text-align: center;

}

.iconos2 img {
    padding-top: 20px;
    padding-right: 10px;
    text-align: center;
}

.derechos {
    color: white;
    position: relative;
    padding-top: 80px;
    padding-bottom: 30px;
    right: 5%;
    padding-right: 80px;
}

.derechos h5 {
    font-weight: 400;
    padding-top: 80px;
}

.links {
    font-size: 15px;
    display: flex;
    padding-top: 50px;
}

.footer-links{
    
padding-right: 30px;
}
