.products-section {
  background-color: rgba(235, 112, 100, 1);
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.products-header {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
 
}

.products-icon {
  width: 30px;
  height: 30px;
}


.products-strong {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: rgba(2, 20, 63, 1);
  ;
}

.bk-slider {
 max-width:1200px;
  margin: auto;
}

.product-swiper {
  height: 100%;
  margin-bottom: 40px;
}

.swiper-slide-custom {
  background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
}

.swiper-slide-custom img {
  width: 100%;
}

.product-prev,
.product-next {
  color: transparent;
}

.products-controls button {
  top: 50%;
  cursor: pointer;
  padding: 5px 10px;
}

.product-pagination {
  padding: 5px 10px;
  color: white;
}

.swiper-button-prev,.swiper-button-next{

  display: block !important;
  opacity: 1 !important;
  pointer-events: all !important;

}

@media (max-width: 1200px) {
  .bk-slider {
    max-width:100%;
  }
  .product-swiper {
    height: 200px;
  }

  .swiper-slide-custom img {
    width: 250px;
  }

}

@media (max-width: 768px) {
  .swiper-slide-custom {
    width: 100px;
    height: 100px;

  }




}
