
/*Segunda Parte*/

.container2 {
    background: #02143F;
    width: 100%;
    height: 160vh;
}

/*Logo*/

.logo{
    position: relative;
    top: 10%;
    padding-left: 7%;
}

/*Texto*/

.texto{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 13%;
    left: 25%;
    font-size: 30px;
    margin-right: 900px;
    align-items: center;
    text-align: left;
    color: white;
    padding-bottom: 10px;
}

.parafo_1 {
    color: #EB7064;
}

/*Image central*/

.image img{
    background-size: cover;
    width: 98.8vw;
    padding-top: 5%;
}

/*Slider pequeño*/


.swiper-slide  h1 {
    position: relative;
    top: -16%;
    font-size: 150px;
    color: #EB7064;
    text-align: center;
}

.swiper-slide  h4 {
    position: relative;
    font-size: 30px;
    top: -20%;
    color: #EB7064;
    text-align: center;
}
.swiper-slide  h5 {
    align-items: center;
    position: relative;
    top: -20%;
    font-weight: 400;
    font-size: 30px;
    color: #EB7064;
    text-align: center;
}


/*Slider pequeño*/

.swiper {
    width: 100%;
}


/*RESPONSIVE*/


@media (max-width: 1450px){
    
.texto{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 13%;
    left: 25%;
    font-size: 30px;
    margin-right: 600px;
    align-items: center;
    text-align: left;
    color: white;
    padding-bottom: 10px;
}


}


@media (max-width: 1450px){
    
    .image img{
        padding-top: 6%;
    }

    .swiper-wrapper{
        padding-left: 10px;
        padding-right: 20px;
    }

    .swiper-slide  h1 {
        position: relative;
        top: -16%;
        font-size: 100px;
        color: #EB7064;
        text-align: center;
    }
    
    .swiper-slide  h4 {
        position: relative;
        font-size: 20px;
        top: -20%;
        color: #EB7064;
        text-align: center;
    }

    .swiper-slide  h5 {
        align-items: center;
        position: relative;
        top: -20%;
        font-weight: 400;
        font-size: 20px;
        color: #EB7064;
        text-align: center;
    }
    
    
}


@media (max-width: 1450px){
    .texto{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 13%;
        left: 25%;
        font-size: 30px;
        margin-right: 500px;
        align-items: center;
        text-align: left;
        color: white;
        padding-bottom: 10px;
    }
    .image img{
        padding-top: 8%;
    }

}

@media (max-width: 950px){
    .texto{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 13%;
        left: 25%;
        font-size: 30px;
        margin-right: 300px;
        align-items: center;
        text-align: left;
        color: white;
        padding-bottom: 10px;
    }

    .image img{
        padding-top: 12%;
    }
}

@media (max-width: 800px){
    .image img{
        padding-top: 16%;
    }

    .swiper-slide  h1 {
        position: relative;
        top: -16%;
        font-size: 80px;
        color: #EB7064;
        text-align: center;
    }
    
    .swiper-slide  h4 {
        position: relative;
        font-size: 15px;
        top: -20%;
        color: #EB7064;
        text-align: center;
    }

    .swiper-slide  h5 {
        align-items: center;
        position: relative;
        top: -20%;
        font-weight: 400;
        font-size: 15px;
        color: #EB7064;
        text-align: center;
    }

    .container2 {
        background: #02143F;
        width: 100%;
        height: 130vh;
    }
}

@media (max-width: 450px){
    .container2 {
        background: #02143F;
        width: 100%;
        height: 200vh;
    }

    .image img{
        padding-top: 70%;
    }

    .linea1, .linea2 img{
        height: 80px;
    }
    .texto{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 13%;
        left: 25%;
        font-size: 30px;
        margin-right: 200px;
        align-items: center;
        text-align: left;
        color: white;
        padding-bottom: 10px;
    }

    .swiper-slide  h1 {
        padding-right: -20px;
        position: relative;
        top: -16%;
        font-size: 30px;
        color: #EB7064;
        text-align: center;
    }
    
    .swiper-slide  h4 {
        position: relative;
        font-size: 15px;
        top: -20%;
        color: #EB7064;
        text-align: center;
    }

    .swiper-slide  h5 {
        align-items: center;
        position: relative;
        top: -20%;
        font-weight: 400;
        font-size: 15px;
        color: #EB7064;
        text-align: center;
    }

    swiper{
        display: grid;
    }
}

@media (max-height: 920px){
    .texto{
        margin-right: 600px;
    }
    .swiper-slide h1{
        font-size: 125px;
    }
}

@media (max-height: 830px){
    .swiper-slide h1{
        font-size: 115px;
    }

    .swiper-slide h4{
        font-size: 25px;
    }
    .swiper-slide h5{
        font-size: 25px;
    }
}

@media (max-height: 780px){
    .image{
        margin-top: -100px
    }
}
@media (max-height: 920px){
    .image{
        margin-top: -150px;
        margin-bottom: -50px;
    }
}

@media (max-height: 690px){
    .swiper-slide{
        margin-bottom: -100px;
    }
    .swiper-slide h1{
        font-size: 105px;
    }
    .swiper-slide h4{
        font-size: 25px;
    }
    .swiper-slide h5{
        font-size: 25px;
    }
}

@media (max-height: 660px){
    .image{
        margin-bottom: -80px;
    }
    .linea1,
    .linea2{
        height: 220px;
    }
}
