.container2 {
    background: #02143F;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}


.logo {
    position: relative;
    padding-left: 7%;
}


.texto {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 13%;
    left: 25%;
    font-size: 30px;
    margin-right: 10%;
    text-align: left;
    color: white;
    padding-bottom: 10px;
}

.parafo_1 {
    color: #EB7064;
    margin-right: 40px;
}
.parafo_2{
    margin-bottom: 0;
    margin-right: 40px;
}


.image img {
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 0px;
}


.swiper-slide h1 {
    position: relative;
    font-size: 5vw; 
    color: #EB7064;
    text-align: center;
}

.swiper-slide h4 {
    position: relative;
    font-size: 3vw; 
    color: #EB7064;
    text-align: center;
}

.swiper-slide h5 {
    position: relative;
    font-weight: 400;
    font-size: 2.5vw; 
    color: #EB7064;
    text-align: center;
}


.swiper {
    width: 100%;
}


@media (max-width: 768px) {
    
    .texto {
        left: 10%;
        font-size: 20px;
    }

    .swiper-slide h1 {
        font-size: 6vw;
    }

    .swiper-slide h4 {
        font-size: 4vw;
    }

    .swiper-slide h5 {
        font-size: 3vw;
    }
    .linea1{
        height: 150px;
    }

    .linea2{
        height: 150px;
    }
}
