@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 70%;
}

.swiper-slide:nth-child(2n) {
  width: 70%;
}

.swiper-slide:nth-child(3n) {
  width: 70%;
}

.swiper-slide:nth-child(4n) {
  margin-left: -100px;
  width: 70%;
}

.slide1 {
  display: grid;
}

.slide3 {
  display: grid;
}

.header img {
  position: relative;
  left: 40px;
}

.slide1 h1 {
  font-size: 90px;
  color: rgba(20, 20, 43, 1);
  position: relative;
  top: 130px;
  right: 93px;
}

.slide1 p {
  font-size: 24px;
  color: rgba(20, 20, 43, 1);
  position: relative;
  text-align: justify;
  top: 120px;
  margin-right: 250px;
  left: 130px;
}

.button {
  position: relative;
  right: 274px;
  top: 125px;
  width: 15%;
  border: 3px solid;
  border-image-slice: 1;
  background: linear-gradient(#E9E9E9, #E9E9E9) padding-box,
    linear-gradient(90deg, #A06EE1 0%, #421B9B 100%) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  color: rgba(66, 27, 155, 1);
  padding: 20px 40px;
  font-size: 20px;
  cursor: pointer;
  height: 55px;
  padding: 10px;
}

.button:hover {
  color: white;
  background: #421B9B;
  transition: .5s;
}

.slide1 .flecha {
  width: 100px;
  height: 100px;
  position: relative;
  left: 785px;
  top: 26px;
}

.slide1 h5 {
  font-weight: 500;
  font-size: 23px;
  color: #A06EE1;
  position: relative;
  left: 37%;
  bottom: -12px;
}

.slide1 h6 {
  position: relative;
  font-size: 25px;
  top: 126px;
  right: 260px;
}

.slide3 h5 {
  font-weight: 500;
  font-size: 23px;
  color: #A06EE1;
  position: relative;
  left: 275px;
  bottom: -24px;
}

.slide3 h6 {
  position: relative;
  font-size: 25px;
  top: 130px;
  right: 34%;
}

.slide3 h1 {
  font-size: 90px;
  color: rgba(20, 20, 43, 1);
  position: relative;
  top: 130px;
  right:150px;
}

.slide3 p {
  font-size: 24px;
  color: rgba(20, 20, 43, 1);
  position: relative;
  text-align: justify;
  top: 120px;
  margin-right: 250px;
  left: 80px;
}


.slide3 .flecha3 {
  width: 100px;
  height: 100px;
  position: relative;
  left: 710px;
  top: 10px;
}

.slide2 h5 {
  font-weight: 500;
  color: white;
  position: absolute;
  font-size: 23px;
  top: 509px;
  right: 13%;
}

.slide2 h6 {
  color: white;
  position: absolute;
  font-size: 25px;
  top: 86%;
  right: 80%;
}

.slide2 .flecha2 {
  width: 100px;
  height: 100px;
  position: relative;
  left: 710px;
  top: 10px;

}


.slide2 h1 {
  color: white;
  position: absolute;
  top: 25%;
  right: 76%;
}

/* Header */

.header {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  scroll-snap-align: start;
  z-index: 10;
  transition: all .3s;

}

header.abajo {
  background-color: white;
  transition: all .3s;
}


nav ul {
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  padding-right: 50px;
}

nav a:hover {
  color: #02143F;
  font-style: unset;
  font-weight: 100px;
  font-size: 21px;
}


/*DROPDOWN_MENU*/

.menu-drop {
  display: none;
  position: absolute;
  right: 50px;
  top: 50px;
  width: 35px;
}

.mobile-menu {
  margin-left: 0;
}