
.container3{
    background-color: #D9D9D9;
    width: 100%;
    height: 100vh;
}

.logos {
    overflow: hidden;
    padding-bottom: 250px ;
    white-space: nowrap;
    position: relative;
}

.logos::before {
    position: absolute;
    top: 35%;
    width: 450px;
    height: 50%;
    content: "";
    z-index: 2;
}

.logos::after {
    position: absolute;
    top: 35%;
    width: 150px;
    height: 50%;
    content: "";
    z-index: 2;
}

.logos::before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #D9D9D9);
}

.logos::after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #D9D9D9);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.logos-slide img{
    position: relative;
    top: 220px;
    left: 270px;
}


@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos2 {
    overflow: hidden;
    white-space: nowrap;
    top: -15%;
    height: 100%;
    position: relative;
}

.logos2::before {
    position: absolute;
    top: 15%;
    width: 150px;
    height: 20%;
    content: "";
    z-index: 2;
}

.logos2::after {
    position: absolute;
    top: 15%;
    width: 450px;
    height: 20%;
    content: "";
    z-index: 2;
}

.logos2::before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #D9D9D9);
}

.logos2::after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #D9D9D9);
}

.logos2:hover .logos-slide2 {
    animation-play-state: paused;
}

.logos-slide2 {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.logos-slide2 img{
    position: relative;
    top: 220px;
    left: 270px;
}


.logos3 {
    overflow: hidden;
    white-space: nowrap;
    top: -95%;
    height: 30vh;
    position: relative;
}

.logos3::before {
    position: absolute;
    top: 235px;
    width: 450px;
    height: 27%;
    content: "";
    z-index: 2;
}

.logos3::after {
    position: absolute;
    margin-top: 225px;
    width: 150px;
    height: 35%;
    content: "";
    z-index: 2;
}

.logos3::before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #D9D9D9);

}

.logos3::after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #D9D9D9);

}

.logos3:hover .logos-slide3 {
    animation-play-state: paused;
}

.logos-slide3 {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.logos-slide3 img{
    position: relative;
    top: 220px;
    left: 270px;
}

@media (max-width: 1250px) {
    .logos3{
        display: none;
    }
}

@media (max-height: 620px){
    .logos2{
        display: none;
    }
}
