.container3 {
    background-color: #D9D9D9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo {
    position: relative;
    padding-left: 65px;

}

.logo img {
    width: 200px;

}


.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-top: 50px;

}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 10s slide-derecha infinite linear;
}

.logos-slide img {
    position: relative;
    
}

.logos2 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-top: 50px;
}

.logos2:hover .logos-slide2 {
    animation-play-state: paused;
}

.logos-slide2 {
    display: inline-block;
    animation: 10s slide-izquierda infinite linear;
}

.logos-slide2 img {
    position: relative;
}


.logos3 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-top: 50px;
}

.logos3:hover .logos-slide3 {
    animation-play-state: paused;
}

.logos-slide3 {
    display: inline-block;
    animation: 20s slide-derecha infinite linear;
}

.logos-slide3 img {
    position: relative;
}

@keyframes slide-izquierda {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-derecha {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}